<div class="item" role="listbox">
    <div class="room-info r1bb J_Room" data-spm-click="gostr=/tbtrip;locaid=d_roomtype0;Button=Calendar" role="option" tabindex="0" aria-label="">
        <div class="desc" aria-hidden="true">
            <p class="name"><em>#ROOM_NAME</em></p>
            <p class="acreage">#ROOM_DESC</p>
        </div>
        <div class="price" aria-hidden="true">
            <span class="rmb">￥</span>
            <span class="money">#ROOM_LOWPRICE</span>
            <span class="text">起</span>
        </div>
    </div>
    <!-- 具体的房型数据 -->
    <div class="room-rate">
        <div class="J_RateList">
            #ROOM_NODE_LIST
        </div>
    </div>
</div>