<div class="rate r1bb">
    <div class="rt-mask" aria-hidden="true">
        <span class="J_Overlay" data-index="0|0" data-spm-click="gostr=/tbtrip;locaid=d_rate_l_0_0"></span>
        <span class="J_Buy" data-index="0|0" data-spm-click="gostr=/tbtrip;locaid=d_rate_r_0_0"></span>
    </div>
    <div class="rt-info">
        <span class="name clearfix"><em>#ROOM_DETAIL_DESC</em></span>
        <span class="desc"> #ROOM_TITLE </span>
        <span class="log-text">#SELLER_NAME</span>
    </div>
    <div class="rt-price">
        <span class="price"><em class="rmb">￥</em><em class="money">#ROOM_PRICE</em></span>
    </div>
    <div class="rt-buy-wrapper">
        <div class="rt-buy J_Buy" data-index="0|0" role="button">
            <span class="booking">预订</span>
            <span class="payment-type"><em>预付</em></span>
        </div>
    </div>
    <div class="lowest-icon" aria-hidden="true"></div>
</div>