<div class="rate r1bb">
    <div class="rt-mask" aria-hidden="true">
        <span class="J_Overlay" data-index="0|0" data-spm-click="gostr=/tbtrip;locaid=d_rate_l_0_0"></span>
        <span class="J_Buy" data-index="0|0" data-spm-click="gostr=/tbtrip;locaid=d_rate_r_0_0"></span>
    </div>
    <div class="rt-info">
        <span class="name clearfix"><em><span>双床/大床</span><span>双早</span><span class="">不可取消</span></em></span>
        <span class="desc"> 3晚起订//1成人1儿童（4-11岁）一价全包+全天餐饮+小车机场接机会员费（如需增订人数或者连住间夜请咨询客服）</span>
        <span class="log-text">三亚盛游旅游专营店</span>
    </div>
    <div class="rt-price">
        <span class="price"><em class="rmb">￥</em><em class="money">2045</em></span>
    </div>
    <div class="rt-buy-wrapper">
        <div class="rt-buy J_Buy" data-index="0|0" role="button">
            <span class="booking">预订</span>
            <span class="payment-type"><em>预付</em></span>
        </div>
    </div>
    <div class="lowest-icon" aria-hidden="true"></div>
</div>