<li data-type="0" class="add-border">
    <div class="room-content-div">
        <div class="qt-room-img" data-imgs="">
            <img class="" src="#">
        </div>
        <div class="qt-grid qt-pa10 qt-arrow b room-content-head  room-content-head-width  t" data-loadingpro="false" data-type="0" data-roomname="">
            <div class="name-wrap qt-overflow">
                <div class="qt-font16 room-name text-overflow">
                    #ROOM_NAME
                </div>

                <div class="text-overflow">
                    <span class="qt-font12 qt-grey">#ROOM_DESC</span>
                </div>
                <div class="qt-font12 text-overflow">
                </div>
            </div>
            <div class="price-wrap">
                <span class="qt-font12 qt-light-orange">¥</span>
                <span class="qt-font20 qt-light-orange">#ROOM_LOW_PRICE</span>
                <span class="qt-font12">起</span>
            </div>
        </div>
    </div>
    <div class="bgf0 room-content">
    <ul class="qt-list bgf0 pro-room-list no-last-child-border" style="opacity: 1;">
        #ROOM_DETAIL_UL_LIST
    </ul></div></li>