<li class="">
    <div class="qt-bb-x1">
        <div class="flex1 room-name-wrap qt-overflow">
            <div class="qt-font16">
		        	<span class="qt-basicInfo">
		        		#ROOM_BASIC_INFO
		        	</span>
            </div>
            <div class="qt-font12 text-overflow qt-lh">#ROOM_TITLE</div>
            <div class="qt-font12 text-overflow qt-lh qt-heavy-grey">#ROOM_TYPE</div>
            <div>
            </div>
        </div>
        <div class="qt-right qt-pr10 room-price-wrap ">
            <div class="qt-light-orange qt-font20 qunar_mix">
                <span class="qt-font12 currency">¥</span>
                #ROOM_PRICE
            </div>
            <div class="qt-font12 qt-grey pt-desc"></div>
        </div>
        <div class="order-btn  order-icon ">
            <span>#ROOM_PAY_TYPE</span>
        </div>
    </div>
</li>