<div class="T_room_list">
    <span class="T_room_type">#ROOM_TITLE
        <span class="T_triangle"></span>
    </span>
    <span class="T_bed_type">#BED_TYPE</span>
    <span class="T_breakfast">#BREAK_FAST_NUM</span>
    <span class="T_network">#NET_WORK</span>
    <span class="T_room_count">
          <select data-roomid="">
                  <option>#ROOM_NUM</option>
          </select>间
    </span>
    <span class="T_price">
        <!-- -￥2436 -->
          <span class="T_has_color">#ROOM_PRICE_DIFFERENCE</span>
    </span>
    <span class="T_select">
        <a href="#" data-roomid="">选择</a>
    </span>
</div>